<ion-card>
    <ion-card-header>
      <ion-card-title style="margin-top: -5%;">Product List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar [(ngModel)]="searchText" placeholder="Search by Name"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let Prod of produits | search: searchText">
          <ion-label>
            <h2>{{ Prod.nom }}</h2>
            <p>Prix: {{ Prod.prix }}</p>
            <p>Quantité: {{ Prod.quantite }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="updateProduit(Prod.id)" color="primary">Update</ion-button>
            <ion-button (click)="deleteProduit(Prod.id)" color="danger">Delete</ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>