
    <ion-card>
      <ion-card-header>
        <ion-card-title>Update Produit</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Nom Produit</ion-label>
            <ion-input type="text" [(ngModel)]="Prod.nom" placeholder="{{ Prod.nom }}" name="Nom"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Prix</ion-label>
            <ion-input type="text" [(ngModel)]="Prod.prix" name="lastName"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Quantité</ion-label>
            <ion-input type="text" [(ngModel)]="Prod.quantite" name="emailId"></ion-input>
          </ion-item>
  
         
          <ion-button expand="full" type="submit" >Update</ion-button>

        </form>
      </ion-card-content>
    </ion-card>

  