<ion-header>
  <ion-toolbar color="primary" style="background-color: #e3f2fd;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-item  color="primary" style="background-color: #e3f2fd;" routerLink="Produits" routerLinkActive="active">
        <ion-label >Product List</ion-label>
      </ion-item>
      <ion-item color="primary" style="background-color: #e3f2fd;"  routerLink="create-Produit" routerLinkActive="active">
        <ion-label>Add Product</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<div style="margin-top: 7%;" class="container">
  
  <router-outlet></router-outlet>
</div>